.container {
    flex-wrap: wrap;
    height: 400px;
}

.item {
    flex: 1;
}

.center {
    align-content: center;
}

.default {
    align-content: stretch;
}

.flex-start {
    align-content: flex-start;
}

.flex-end {
    align-content: flex-end;
}

.space-between {
    align-content: space-between;
}

.space-around {
    align-content: space-around;
}

.unset {
    align-content: unset;
}