.flex-direction {
    flex-direction: column;
}

.align-self-center {
    align-self: center;
}

.align-self-start {
    align-self: flex-start;
}

.align-self-end {
    align-self: flex-end;

}

.align-self-baseline {
    align-self: baseline;

}

.align-self-auto {
    align-self: auto;
}