.item {
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
}

.default {}

.row {
    flex-direction: row;
}

.row li {
    background: blueviolet;
}

.row-reverse {
    flex-direction: row-reverse;
}

.row-reverse li {
    background: blueviolet;
}

.column {
    flex-direction: column;
}

.column li {
    background: blueviolet;
}

.column-reverse {
    float: left;
    flex-direction: column-reverse;
}

.column-reverse li {
    float: right;
    background: blueviolet;
}