.item {
    font-size: 24px;
}

li {
    list-style: none;
}

.flex-shrink-1 {
    flex-shrink: 1;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.flex-basis-80 {
    flex-basis: 80px;
}

.flex-grow-1 {
    flex-grow: 1;
}