main {
    display: flex;
    flex-wrap: wrap;
}

section {
    margin: 0 55px;
}

.flex-container {
    width: 270px;
    margin: 0;
    padding: 2px;
    display: flex;
    list-style: none;
    border: 1px solid black;
}

.flex-item {
    background: blueviolet;
    height: 50px;
    margin: 2px;
    width: 50px;
    line-height: 50px;
    color: white;
    font-size: 20px;
    text-align: center;
}

.default {}

.row {
    flex-direction: row;
}

.row li {
    background: blueviolet;
}

.row-reverse {
    flex-direction: row-reverse;
}

.row-reverse li {
    background: blueviolet;
}

.column {
    flex-direction: column;
}

.column li {
    background: blueviolet;
}

.column-reverse {
    float: left;
    flex-direction: column-reverse;
}

.column-reverse li {
    float: right;
    background: blueviolet;
}