ul li {
    list-style: none;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    min-width: 350px;
    font-size: 36px;
    margin: 10px;
    background: blueviolet;
    border-radius: 5px;
    padding: 10px;
}

a {
    text-decoration: none;
    color: white;
}

@media (max-width: 768px) {
    li {
        font-size: 36px;
        margin: 5px;
    }
}