ul li {
    list-style: none;
}

ul {
    display: flex;
}

li {
    font-size: 36px;
    margin: 10px;
    background: #b6b6b6;
    border-radius: 5px;
    padding: 10px;
}

a {
    text-decoration: none;
    color: blue;
}

@media (max-width: 768px) {
    ul {
        flex-direction: column;
    }

    li {
        font-size: 36px;
        margin: 5px;
    }
}